header.header
  h1.title 
    a(href="/") MEDICAL IMAGE
  div.header-menu
    select.hospital
      each hospital in hospitalsOfUser
        option(value=hospital.id) #{hospital.name}
    div.utils
      span.user #{user.name}님
      span.date #{today}
      button.logout 로그아웃

