<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/style.css" type="text/css")
    title Medical Image
  body
    include header
    .loader-wrapper.hidden
      .loader-desc 
      .loader
        .loader-progress
        .loader-text 50%
    .loader-wrapper-circle.hidden
      .loader
    main
      include nav
      div.content
        block content
    script(src="/script.js")