nav.menu
  button.menu-toggle menu
  ul.menu-list
    li.space
    li.item: a(href="/status") 
      div 등록현황
    li.item: a(href="/info") 
      div 진단정보 조회
    li.item: a(href="/data") 
      div 학습용데이터 조회
    li.title 사진등록
    li.item: a(href="/one-registration") 
      div 환자별
    li.item: a(href="/batch-registration") 
      div 일괄