extends ./_layouts/main

include ./_mixins/pagination

block content
  h3.subtitle 사진 일괄등록
  form.search-form(action="", method="get")
    .search-option
      label 진료일자
      .input
        input.date(type="text", name="startAt" value=(startAt ? startAt : date) readonly)
        input(type="hidden", name="hospitalId")
    input(type="submit", value="검색")
  .info-wrapper
    .column.patient-info
      h5.title 등록정보
      .registration-count
        .row
          label 진단정보
          .value #{treatmentCount}건
        .row
          label 사진
          .value #{photoCount}건
        .row
          label 환자
          .value #{patientCount}건
    .column.file-upload
      h5.title 파일 업로드
      .info.batch-registration
        .option
          label 디렉토리 선택
          form.js-directory-upload-form.input(action="", method="post")
            input(type="file", name="directory" webkitdirectory directory)
          input.directory-upload(type="button", value="사진 업로드")
        form.option.js-xlsx-upload-form(action="/xlsx", method="post" enctype="multipart/form-data")
          label 환자정보 선택
          .input
            input(type="file", name="xlsx" accept=".xlsx")
          input.xlsx-upload(type="submit", value="엑셀 업로드")
  .result
    table
      tr
        th(style={'min-width': '100px'}) 진료일자
        th(style={'min-width': '100px'}) 환자번호
        th(style={'min-width': '200px'}) 병원
        th(style={'min-width': '85px'}) 성별
        th(style={'min-width': '85px'}) 나이
        th(style={'min-width': '400px'}) 진단명
        th(style={'min-width': '80px'}) 사진등록건수
      each treatment in treatments
        tr
          td #{treatment.treatmentDate}
          td #{treatment.patientNum}
          td #{treatment.hospitalName}
          td #{treatment.gender}
          td #{treatment.age}
          td #{treatment.diagnosisName}
          td #{treatment.photoCount}건
      -for(i=0; i<10-treatments.length; i++)
        tr
          td 
          td 
          td 
          td 
          td 
          td 
          td
          td
  + pagination(pagination, url)
    
