extends ./_layouts/main

include ./_mixins/pagination

block content
  h3.subtitle 학습용데이터 조회
  form.search-form(action="/data", method="get")
    .search-option
      label 진료일자
      .input
        input.date(type="text", name="startAt" value=(startAt ? startAt : date) readonly)
        | ~
        input.date(type="text", name="endAt" value=(endAt ? endAt : date) readonly)
    .search-option
      label 신체부위
      .input
        select(name="bodyPartId")
          option(value="") 전체
          each bodypart in bodyparts
            option(value=bodypart.id selected=(bodyPartId == bodypart.id)) #{bodypart.name}
    .search-option
      label 레이블
      .input
        input(type="text", name="description" value=description)
      input(type="hidden" name="hospitalId")
    input(type="submit", value="검색")
  .data-content-wapper
    .crop-images
      h5.title 크롭 이미지
      .control
        .all
          input(type="checkbox", name="allcheck")
          |전체선택
        input.download(type="button", value="다운로드")
      .count 총 #{count}건
      .image-list
        each label in labels
          div.label(data-photo=label.photoNum)
            input.label-checkbox(type="checkbox")
            img.label-image(src=label.cropFile)
            div.label-desc #{label.description}
    .original-image
      h5.title 원본사진
      .image-box
        img.image(src="" alt="")
        table
          tr
            th 진료일자
            td.treatmentDate 
          tr
            th 환자번호
            td.patientNum 
          tr
            td 촬영장비
            td.shootingEquipment 
          tr
            td 신체부위
            td.bodyPart 
          t
            th 수술 여부
            td.isOperation
          tr
            td 레이저시술 여부
            td.isLaser
          tr
            th 조직검사 여부
            td.isBiopsy
          tr
            td 치료후 경과관찰
            td.treatmentProgress 
          tr
            th 레이블링 내역
                td.labeling-list-wrapper  
                  div.labeling-list-cell