extends ./_layouts/main

block content
  h3.subtitle 등록정보 수정
  h5.title 환자정보
  form(method='post' action='/edit').info.patient
    .option
      label 환자번호
      .input
        input(type="text", name="patientNum" readonly value=treatment.patientNum)
    .option
      label 성별
      .input
        |남
        input(type="radio", name="gender" value="1" checked=(treatment.gender === "남"?true:false)) 
        |여
        input(type="radio", name="gender" value="2" checked=(treatment.gender === "여"?true:false)) 
        |기타
        input(type="radio", name="gender" value="3" checked=(treatment.gender === "기타"?true:false)) 
    .option
      label 나이
      .input
        input.input-age(type="number", max="999" min="0" name="age" value=parseInt(treatment.age))
        input(type="radio", name="unit" value="year" checked=(treatment.age ? treatment.age.indexOf('M') === -1 : false)) 
        |세
        input(type="radio", name="unit" value="month" checked=(treatment.age ? treatment.age.indexOf('M') !== -1 : false)) 
        |개월
    .option
      label 진단명
      .input
        input(type='hidden' name="diagnosisId" value=treatment.diagnosisId)
        input.auto-complete.name(type="text" value=treatment.diagnosisName)
        ul.auto-complete-list.name.hidden
    .option
      label ICD10코드
      .input
        input.auto-complete.code(type="text" value=treatment.ICD10)
        ul.auto-complete-list.code.hidden
    .option
      label 배제진단명
      .input
        input(type="text", name="exclusionDiagnosisName" value=treatment.exclusionDiagnosisName style={width: '300px'})
    .option
      label 흥미영역
      .input
        input(type="text", name="interestRegion" value=treatment.interestRegion style={width: '300px'})
    .option
      label Chief complain
      .input
        each chiefComplain in chiefComplains
          input(type="radio", name="chiefComplain" value=chiefComplain.commonCode checked=(chiefComplain.commonCode === treatment.chiefComplain))
          | #{chiefComplain.commonCodeName}
    .option
      label 확진
      .input
        input(type="checkbox", name="confirmed" checked=(treatment.confirmed === "Y" ? true: false))
    input(type="hidden", name="treatmentDate" value=treatment.treatmentDate)
    input(type="hidden", name="hospitalId" value=treatment.hospitalId)
    input(type="submit", value="저장")
  //- h5.title 사진 추가
  //- input.image-selector(type="file", name="file" multiple accept=".jpg, .png")
  .patient-images
    .row.example
      .column
        .image
          img.original(src="", alt="")
          img.edit.hidden(src="", alt="")
        .image-info
          h6.title 사진정보
          table
            tr
              th 촬영 일시
              td 
                input(type="text", name="shootingDate")
                input(type="hidden", name="hospitalId")
                input(type="hidden", name="patientNum")
            tr
              th 촬영 장비
              td
                input(type="text", name="shootingEquipment")
            tr
              th 신체 부위
              td
                select(name="bodyPartId")
                  option(value="") 선택
                  each bodypart in bodyparts
                    option(value=bodypart.id) #{bodypart.name}
            tr
              th 사진 종류
              td
                input(type="checkbox", name="isOperation")
                |수술
                input(type="checkbox", name="isBiopsy")
                |조직검사
                input(type="checkbox", name="isLaser")
                |레이저
            tr
              th 진료 경과
              td
                select(name="treatmentProgress")
                  option 선택
                  option(value='1') 초진
                  option(value='2') 경과관찰
            tr
              th 레이블링 내역
              td.labeling-list-wrapper  
                div.labeling-list-cell 
          .button-wrapper
            button.labeling 레이블링
            button.delete 삭제
    each photo, index in photos
      .row(data-photonum=photo.photoNum data-id=index)
        .column
          .image
            img.original.hidden(src=photo.originalFile, alt="" data-name=photo.filename)
            img.edit(src=(photo.editFile ? photo.editFile : photo.originalFile), alt="")
          .image-info
            h6.title 사진정보
            table
              tr
                th 촬영 일시
                td 
                  input(type="text", name="shootingDate" readonly value=photo.shootingDate)
                  input(type="hidden", name="hospitalId" value=photo.hospitalId)
                  input(type="hidden", name="patientNum" value=photo.patientNum)
              tr
                th 촬영 장비
                td
                  input(type="text", name="shootingEquipment" readonly value=photo.shootingEquipment)
              tr
                th 신체 부위
                td
                  select(name="bodyPartId")
                    option(value="") 선택
                    each bodypart in bodyparts
                      option(value=bodypart.id selected=(bodypart.id===photo.bodyPartId)) #{bodypart.name}
              tr
                th 사진 종류
                td
                  input(type="checkbox", name="isOperation" checked=(photo.isOperation==='Y'))
                  |수술
                  input(type="checkbox", name="isBiopsy" checked=(photo.isBiopsy==='Y'))
                  |조직검사
                  input(type="checkbox", name="isLaser" checked=(photo.isLaser==='Y'))
                  |레이저
              tr
                th 진료 경과
                td
                  select(name="treatmentProgress")
                    option 선택
                    option(value='1' selected=(photo.treatmentProgress=='1')) 초진
                    option(value='2' selected=(photo.treatmentProgress=='2')) 경과관찰
              tr
                th 레이블링 내역
                td.labeling-list-wrapper  
                  div.labeling-list-cell
                    each label in photo.labels
                      .labeling-item
                        img(src=label.cropFile, data-x=label.posX, data-y=label.posY, data-width=label.width, data-height=label.height data-no=label.labelNum data-desc=label.description)
                        div #{label.description}
            .button-wrapper
              button.labeling 레이블링
              button.delete 삭제
  .popup-background.hidden
    .labeling-popup
      .wrapper
        .canvas-wrapper
          canvas.labeling-target-image
          .crops-wrapper
            .crops
        ul.labeling-list
      .button-wrapper
        button.save 추가
        button.close 닫기