extends ./_layouts/main

include ./_mixins/pagination

block content
  h3.subtitle 진단정보 조회
  form.search-form(action="/info", method="get")
    .search-option
      label 진료기간
      .input
        input.date(type="text", name="startAt" value=(startAt?startAt:date) readonly)
        | ~
        input.date(type="text", name="endAt" value=(endAt?endAt:date) readonly)
    .search-option
      label 진단명
      .input
        input(type='hidden' name="diagnosisId" value=diagnosisId)
        input.auto-complete.name(type="text" value=diagnosisName style={'width': '350px'})
        ul.auto-complete-list.name.hidden
    .search-option
      label ICD10코드
      .input
        input.auto-complete.code(type="text" value=ICD10)
        ul.auto-complete-list.code.hidden
    .search-option
      label 레이블
      .input
        input(type="text", name="description" value=description)
    input(type="hidden", name="hospitalId")
    input(type="submit", value="검색")
  .count 총 #{count}건
  .result.result-images
    table
      tr
        th(style={'width': '400px'}) 사진
        th 환자번호
        th 병원
        th 진료일자
        th 촬영일
        th 촬영장비
        th 신체부위
        th 수술 여부
        th 조직검사 여부
        th 레이저 여부
        th 진료 경과
      each photo in photos
        tr
          td
            img(src=(photo.editFile ? photo.editFile : photo.originalFile))
          td #{photo.patientNum}
          td #{photo.hospitalId}
          td #{photo.treatmentDate}
          td #{photo.shootingDate}
          td #{photo.shootingEquipment}
          td #{photo.bodyPartName}
          td #{photo.isOperation}
          td #{photo.isBiopsy}
          td #{photo.isLaser}
          td #{photo.treatmentProgressName}
      -for(i=0; i<10-photos.length; i++)
        tr
          td 
          td 
          td 
          td 
          td 
          td 
          td
          td 
          td
          td
          td
  + pagination(pagination, url)