<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/style.css" type="text/css")
    title 로그인
  body
    .login-wrapper
      h1.login-title MEDICAL IMAGE
      form.login-form(action="/login", method="post")
        .column.input-wrapper
          input(type="text", name="id" placeholder="ID")
          input(type="password", name="password" placeholder="Password")
        .column
          input(type="submit", value="로그인")