extends ./_layouts/main

block content
  h3.subtitle 사진 환자별 등록
  h5.title 사진 추가 <span>(환자 1명에 대한 진료사진을 선택하세요.)</span>
  input.image-selector(type="file", name="file" multiple accept=".jpg, .png")
  h5.title 환자정보
  form.info.patient(action="/treatment", method="post")
    .option
      label 환자번호
      .input
        input(type="text", name="patientNum" readonly)
    .option
      label 성별
      .input
        |남
        input(type="radio", name="gender" value="1" checked) 
        |여
        input(type="radio", name="gender" value="2") 
        |기타
        input(type="radio", name="gender" value="3")
    .option
      label 나이
      .input
        input.input-age(type="number", max="999" min="0" name="age")
        input(type="radio", name="unit" value="year" checked) 
        |세
        input(type="radio", name="unit" value="month") 
        |개월
    .option
      label 진단명
      .input
        input(type='hidden' name="diagnosisId")
        input.auto-complete.name(type="text" style={width: '300px'})
        ul.auto-complete-list.name.hidden
    .option
      label ICD10코드
      .input
        input.auto-complete.code(type="text")
        ul.auto-complete-list.code.hidden
    .option
      label 흥미영역
      .input
        input(type="text", name="interestRegion" style={width: '400px'})
    .option
      label 배제진단명
      .input
        input(type="text", name="exclusionDiagnosisName" style={width: '500px'})
    .option
      label Chief complain
      .input
        each chiefComplain in chiefComplains
          input(type="radio", name="chiefComplain" value=chiefComplain.commonCode)
          | #{chiefComplain.commonCodeName}
    .option
      label 확진
      .input
        input(type="checkbox", name="confirmed")
    input(type="submit", value="저장")
  .patient-images
    .row.example
      .column
        .image
          img.original(src="", alt="")
          img.edit.hidden(src="", alt="")
        .image-info
          h6.title 사진정보
          table
            tr
              th 촬영 일시
              td 
                input(type="text", name="shootingDate")
                input(type="hidden", name="hospitalId")
                input(type="hidden", name="patientNum")
            tr
              th 촬영 장비
              td
                input(type="text", name="shootingEquipment")
            tr
              th 신체 부위
              td
                select(name="bodyPartId")
                  option(value="") 선택
                  each bodypart in bodyparts
                    option(value=bodypart.id) #{bodypart.name}
            tr
              th 사진 종류
              td
                input(type="checkbox", name="isOperation")
                |수술
                input(type="checkbox", name="isBiopsy")
                |조직검사
                input(type="checkbox", name="isLaser")
                |레이저
            tr
              th 진료 경과
              td
                select(name="treatmentProgress")
                  option 선택
                  option(value='1') 초진
                  option(value='2') 경과관찰
            tr
              th 레이블링 내역
              td.labeling-list-wrapper  
                div.labeling-list-cell 
          .button-wrapper
            button.labeling 레이블링
            button.delete 삭제
  .popup-background.hidden
    .labeling-popup
      .wrapper
        .canvas-wrapper
          canvas.labeling-target-image
          .crops-wrapper
            .crops
        ul.labeling-list
      .button-wrapper
        button.save 추가
        button.close 닫기
