extends ./_layouts/main

block content
  h3.subtitle 등록현황 상세
  .button-wapper
    .button.edit.js-treatment-edit(data-treatmentDate=treatment.treatmentDate, data-patientNum=treatment.patientNum, data-hospitalId=treatment.hospitalId) 수정
    .button.delete.js-treatment-delete(data-treatmentDate=treatment.treatmentDate, data-patientNum=treatment.patientNum, data-hospitalId=treatment.hospitalId) 삭제
  h5.title 환자정보
  .info.patient
    .option
      label 환자번호
      .value #{treatment.patientNum}
    .option
      label 성별
      .value #{treatment.gender}
    .option
      label 나이
      .value #{treatment.age}
    .option
      label 진단명
      .value #{treatment.diagnosisName}
    .option
      label 진단코드
      .value #{treatment.ICD10}
    .option
      label 배제진단명
      .value #{treatment.exclusionDiagnosisName}
    .option
      label 흥미영역
      .value #{treatment.interestRegion}
    .option
      label Chief complain
      .value #{treatment.chiefComplainName}
    .option
      label 확진
      .value #{treatment.confirmed}
  h5.title 사진정보
  .patient-images
    each photo in photos
      .row
        .column
          .image
            img(src=(photo.editFile ? photo.editFile : photo.originalFile))
          .image-info
            h6.title 사진정보
            table
              tr
                th 촬영 일시
                td #{photo.shootingDate}
              tr
                th 촬영 장비
                td #{photo.shootingEquipment}
              tr
                th 신체 부위
                td #{photo.bodyPartName}
              tr
                th 수술
                td #{photo.isOperation}
              tr
                th 조직검사
                td #{photo.isBiopsy}
              tr
                th 레이저
                td #{photo.isLaser}
              tr
                th 진료 경과
                td #{photo.treatmentProgressName}
              tr
                th 레이블링 내역
                td.labeling-list-wrapper  
                  div.labeling-list-cell
                    each label in photo.labels
                      img(src=label.cropFile)
                      div #{label.description}
  .back-button 목록으로