extends ./_layouts/main

include ./_mixins/pagination

block content
  h3.subtitle 등록현황
  form.search-form(action="/status", method="get")
    .search-option
      label 진료기간
      .input
        input.date(type="text", name="startAt" value=(startAt? startAt : date) readonly)
        | ~
        input.date(type="text", name="endAt" value=(endAt? endAt : date) readonly)
    .search-option
      label 진단명
      .input
        input(type='hidden' name="diagnosisId" value=diagnosisId)
        input.auto-complete.name(type="text" value=diagnosisName style={'width': '350px'})
        ul.auto-complete-list.name.hidden
    .search-option
      label ICD10코드
      .input
        input.auto-complete.code(type="text" value=ICD10)
        ul.auto-complete-list.code.hidden
    input(type="hidden" name="hospitalId")
    input(type="submit", value="검색")
  .count 총 #{count}건
  .result
    table
      tr
        th(style={'min-width': '160px'}) 진료일자
        th(style={'min-width': '85px'}) 환자번호
        th(style={'min-width': '150px'}) 병원
        th(style={'min-width': '80px'}) 성별
        th(style={'min-width': '80px'}) 나이
        th(style={'min-width': '400px'}) 진단명
        th(style={'min-width': '100px'}) ICD10코드
        th(style={'min-width': '85px'}) 사진등록건수
        th(style={'min-width': '300px'}) 배제진단명
        th(style={'min-width': '200px'}) 흥미영역
        th(style={'min-width': '200px'}) 등록일시
        th(style={'min-width': '400px'}) 비고
      each treatment in list
        tr.treatment(data-treatmentDate=treatment.treatmentDate, data-patientNum=treatment.patientNum, data-hospitalId=treatment.hospitalId)
          td #{treatment.treatmentDate}
          td #{treatment.patientNum}
          td #{treatment.hospitalName}
          td #{treatment.gender}
          td #{treatment.age}
          td #{treatment.diagnosisName}
          td #{treatment.ICD10}
          td #{treatment.photoCount}건
          td #{treatment.exclusionDiagnosisName}
          td #{treatment.interestRegion}
          td #{treatment.regDate}
          td #{treatment.rmk}
      -for(i=0; i<10-list.length; i++)
        tr
          td
          td
          td
          td
          td
          td
          td
          td
          td
          td
          td
          td
  + pagination(pagination, url)
  .images
  