mixin pagination(pagination={}, url)
  .pagination
    if pagination.totalPage != 0
      if pagination.prevPage
        .page.prev 
          a(href=`${url}&page=${1}`) <<
        .page.prev 
          a(href=`${url}&page=${pagination.prevPage}`) <
      -for(i=pagination.startPage; i<=(pagination.lastPage > pagination.totalPage ? pagination.totalPage : pagination.lastPage); i++)
        if i == pagination.curPage
          .page.active
            a(href=`${url}&page=${i}`) #{i}
        else
          .page
            a(href=`${url}&page=${i}`) #{i}
      if pagination.nextPage < pagination.totalPage
        .page.next 
          a(href=`${url}&page=${pagination.nextPage}`) >
        .page.next
          a(href=`${url}&page=${pagination.totalPage}`) >>
    else
      .page.active
          a(href=`${url}&page=${1}`) #{1}