.info-wrapper {
  display: flex;

  .column.patient-info {
    width: 30%;
    max-width: 300px;
    margin-right: 1rem;
    height: 100%;
    .registration-count {
      display: flex;
      flex-direction: column;
      background-color: #ededed;
      padding: 1rem;
      align-items: center;
      margin-bottom: 1rem;
      border-radius: 0.5rem;
      word-break: keep-all;

      .row {
        display: flex;
        width: 100%;
        padding: 0.5rem;
        label {
          margin-right: 1rem;
          min-width: 50px;
          width: 30%;
        }
        .value {
          width: 70%;
        }
      }
    }
  }

  .column.file-upload {
    width: 100%;
    .batch-registration {
      display: flex;
      flex-direction: column;

      .option {
        width: 100%;
        label {
          word-break: keep-all;
          min-width: 100px;
          text-align: center;
        }
        .input {
          width: 100%;
          input {
            width: 100%;
            background-color: transparent;
          }
        }
      }
    }
  }
}
