.subtitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.search-form {
  background-color: rgb(158, 158, 158);
  padding: 1rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  @media (max-width: 1100px) {
    flex-direction: column;
    input:not([type='submit']),
    select {
      width: 100%;
    }
    .search-option {
      display: block;
      width: 100%;
      label {
        width: 100px;
      }
      .input {
        width: 100%;
      }
      margin-bottom: 0.5rem;
    }
  }

  input:not([type='submit']),
  input:not([type='button']),
  select {
    background-color: white;
    border-radius: 0.2rem;
    padding: 0.5rem;
  }

  .search-option {
    display: flex;
    align-items: center;
    flex: 0 0 0;
    label {
      word-break: keep-all;
      margin-right: 1rem;
    }
    .input {
      display: flex;
      align-items: center;
      margin-right: 1.5rem;
      position: relative;
    }
  }

  input[type='submit'],
  input[type='button'] {
    margin-left: auto;
    background-color: $base-color;
    color: white;
    border-radius: 0.2rem;
    width: 120px;
    padding: 0.5rem;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  div {
    margin: 0.5rem;
  }
  .page {
    background-color: rgb(238, 238, 238);
    padding: 0.2rem;
    border-radius: 0.2rem;
    &:hover,
    &.active {
      background-color: $base-color;
      color: white;
    }
  }
}
.count {
  margin-top: 1rem;
  margin-left: auto;
  margin-bottom: 1rem;
}

.result {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  margin-top: 1rem;

  table {
    td,
    th {
      height: 40px;
      border: 1px solid #ccc;
      word-break: keep-all;
      vertical-align: middle;
      text-align: center;
      img {
        max-width: 400px;
      }
    }
    th {
      background-color: #eaeaea;
    }
  }
  &.result-images {
    max-height: 600px;
    td {
      height: 266px;
    }
  }
}

.auto-complete-list {
  position: absolute;
  top: 35px;
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
  border: 1px solid $base-color;
  z-index: 10;
  li {
    background-color: white;
    padding: 0.5rem;
    font-weight: 100;
    font-size: 0.8rem;
    &:hover {
      background-color: $base-color;
      color: white;
    }
  }
}

input.date {
  text-align: center;
  width: 100px;
}
