.data-content-wapper {
  display: flex;
  margin-top: 1rem;

  .crop-images {
    width: 65%;
    margin-right: 1rem;
    .title {
      font-size: 1.1rem;
    }
    .control {
      display: flex;
      align-items: center;
      .download {
        width: 80px;
        padding: 0.2rem;
        background-color: $base-color;
        border-radius: 0.2rem;
        color: white;
      }
      .all {
        margin-right: 1rem;
      }
    }
    .image-list {
      background-color: rgb(237, 237, 237);
      min-height: 500px;
      border-radius: 0.5rem;
      overflow-y: scroll;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-auto-rows: 1fr;
      grid-gap: 0.5rem;
      padding: 1rem;
      max-height: 970px;

      .label {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        &:hover {
          background-color: $base-color;
        }
        &.active {
          background-color: $base-color;
        }

        .label-image {
          align-self: center;
          max-width: 100%;
        }
        .label-desc {
          margin-top: 0.5rem;
          text-align: center;
        }
      }
      // div.label
      // input.label-checkbox(type="checkbox")
      // img.label-image(src=label.cropFile)
      // div.label-desc #{label.description}
    }
  }
  .original-image {
    width: 35%;
    .title {
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }
    .image-box {
      width: 100%;
      background-color: rgb(237, 237, 237);
      padding: 1rem;
      border-radius: 0.5rem;
      img {
        width: 100%;
        margin-bottom: 1rem;
      }
      table {
        width: 100%;
        td,
        th {
          border: 1px solid #ccc;
          word-break: keep-all;
          vertical-align: middle;
          text-align: center;
          padding: 0.5rem;
        }
        th {
          width: 30%;
          min-width: 120px;
          background-color: #eaeaea;
        }
      }
    }
  }
}
