.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  .login-title {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 2.5rem;
  }
  .login-form {
    display: flex;
    align-items: center;
    .input-wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    input[type='text'],
    input[type='password'] {
      width: 200px;
      padding: 0.5rem;
      border: 1px solid rgb(204, 204, 204);
      border-radius: 0.5rem;
      margin-right: 1rem;
    }
    input[type='text'] {
      margin-bottom: 0.5rem;
    }
    input[type='submit'] {
      background-color: rgb(94, 94, 94);
      color: white;
      height: 60px;
      width: 80px;
      border-radius: 0.5rem;
    }
  }
}
