h5.title {
  font-weight: 600;
  margin-bottom: 0.5rem;

  span {
    font-size: 0.8rem;
    font-weight: 100;
    margin-left: 0.5rem;
  }
}

.info {
  background-color: rgb(237, 237, 237);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  overflow-x: auto;

  input:not([type='submit']),
  input:not([type='button']),
  input:not([type='radio']),
  select {
    background-color: white;
    border-radius: 0.2rem;
    padding: 0.5rem;
  }

  .option {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    flex: 0 0 0;

    label {
      word-break: keep-all;
      margin-right: 1rem;
      min-width: 100px;
    }
    .input {
      position: relative;
    }
    .input,
    .value {
      display: flex;
      align-items: center;
      margin-right: 1.5rem;
      word-break: keep-all;
    }
  }

  input[type='submit'],
  input[type='button'] {
    margin-left: auto;
    background-color: $base-color;
    color: white;
    border-radius: 0.2rem;
    width: 120px;
    padding: 0.5rem;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.patient-images {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  max-height: 700px;
  overflow-y: scroll;
  border-radius: 0.5rem;
  background-color: rgb(237, 237, 237);
  padding: 1rem;

  .row.example {
    display: none;
  }
  .row {
    display: flex;
    flex-direction: column;
    width: 100%;

    .button-wrapper {
      display: flex;
      justify-content: flex-end;
      button {
        padding: 0.3rem 0.5rem;
        font-size: 0.8rem;
        color: white;
        margin-top: 1rem;
      }
      .delete {
        background-color: red;
      }
      .labeling {
        background-color: $base-color;
      }
    }

    .column {
      display: flex;
      align-items: center;

      .image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(70% - 0.5rem);
        margin-right: 1rem;
        img {
          width: 100%;
        }
      }

      .image-info {
        width: calc(30% - 0.5rem);
        .title {
          font-weight: 600;
          margin-bottom: 1rem;
        }
        table {
          width: 100%;
          word-break: keep-all;
          th,
          td {
            border: 1px solid black;
            padding: 0.5rem;
            vertical-align: middle;
          }
          td input[type='text'] {
            width: 100%;
          }
          .labeling-list-wrapper {
            height: 300px;
            max-height: 300px;
            .labeling-list-cell {
              height: 100%;
              width: 100%;
              overflow-y: auto;
              img {
                max-height: 200px;
              }
            }
          }
        }
      }

      @media (max-width: 1100px) {
        display: flex;
        flex-direction: column;

        .image-info {
          width: 100%;
          margin-top: 0.5rem;
        }

        .image {
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
    }
  }

  .row + .row {
    margin-top: 1rem;
  }
}

.image-selector {
  margin-bottom: 1rem;
}

.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  .labeling-popup {
    background-color: rgb(237, 237, 237);
    width: 90%;
    height: 90%;
    min-height: 600px;
    max-height: 90%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .wrapper {
      height: 100%;
      display: flex;
      .canvas-wrapper {
        width: 70%;
        margin-right: 1rem;
        display: flex;
        justify-content: center;
        position: relative;
        height: 100%;
        background-color: black;
        .labeling-target-image {
          height: 100%;
          position: absolute;
        }
        .crops-wrapper {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 10;
          pointer-events: none;
          overflow: hidden;

          .crops {
            position: relative;
            width: 100%;
            height: 100%;
            .crop {
              position: absolute;
              border: 3px solid blue;
              &.selected {
                border: 3px solid yellow;
                z-index: 20;
              }
            }
          }
        }
      }

      .labeling-list {
        height: 100%;
        background-color: rgb(158, 158, 158);
        width: 30%;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 1rem;

        li {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 1rem;
          .image-wrapper {
            display: flex;
            justify-content: center;
            width: 100%;
            background-color: black;
            canvas {
              height: 100%;
              max-width: 100%;
            }
            margin-bottom: 0.5rem;
          }

          textarea {
            width: 100%;
            background-color: white;
            resize: none;
          }
        }
      }
    }
    .button-wrapper {
      display: flex;
      justify-content: flex-end;
      margin-top: 1rem;

      button {
        padding: 0.5rem;
        background-color: $base-color;
        color: white;
      }
      button + button {
        margin-left: 0.5rem;
      }
    }
  }
}
