.images {
  min-height: 150px;
  border-radius: 0.5rem;
  background-color: rgb(237, 237, 237);
  display: flex;
  padding: 1rem;
  align-items: center;
  overflow-x: scroll;

  img {
    max-width: 200px;
    margin-right: 1rem;
  }
}

table {
  .treatment {
    cursor: pointer;
    &.active {
      background-color: rgb(237, 237, 237);
    }
  }
}

.labeling-list-wrapper {
  height: 300px;
  max-height: 300px;
  .labeling-list-cell {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    img {
      max-height: 200px;
    }
  }
}
