.header {
  display: flex;
  height: 4rem;
  flex-direction: row;
  align-items: center;
  background-color: $base-color;
  padding: 1rem;

  .title {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    min-width: 210px;
  }

  .header-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .utils {
      * + * {
        margin-left: 1rem;
      }
    }
  }

  .logout {
    color: white;
    background-color: rgb(80, 80, 80);
    padding: 0.5rem;
    border-radius: 0.2rem;
  }
}
