.menu {
  position: relative;
  .menu-list {
    background-color: rgb(224, 224, 224);
    width: 180px;
    height: calc(100vh - 4rem);

    li.item {
      color: rgb(64, 64, 64);
      background-color: rgb(190, 190, 190);
      font-size: 1rem;
      &:hover,
      &.active {
        background-color: $base-color;
        color: white;
      }
      div {
        padding: 0.6rem 1rem;
      }
    }
    li.title {
      margin-top: 2rem;
      background-color: rgb(64, 64, 64);
      color: white;
      text-align: center;
      padding: 0.5rem;
    }
    li.space {
      background-color: transparent;
      height: 60px;
    }
    li + li {
      margin-top: 5px;
    }
  }
  .menu-toggle {
    position: absolute;
    top: 16px;
    left: -16px;
    height: 1.5rem;
    width: 3.5rem;
    transform: rotate(90deg);
    background-color: rgb(190, 190, 190);
    color: rgb(64, 64, 64);
    border-radius: 5px;
  }
}
