@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

html,
body {
  height: 100%;
}
*,
body {
  font-family: 'Noto Sans KR', sans-serif;
}

main {
  height: calc(100vh - 4rem);
  display: flex;
  > .content {
    min-width: calc(100% - 180px);
    width: 100%;
    padding: 1rem;
    overflow-y: scroll;
  }
}

.loader-wrapper {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .loader-desc {
    font-weight: 900;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
  .loader {
    width: 300px;
    height: 20px;
    background-color: white;
    position: relative;
    display: flex;

    .loader-progress {
      position: absolute;
      background-color: $base-color;
      width: 50%;
      height: 100%;
    }
    .loader-text {
      color: black;
      position: absolute;
      left: 45%;
    }
  }
}

.loader-wrapper-circle {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid $base-color;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.back-button {
  position: fixed;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: $base-color;
  color: white;
  display: inline-block;
  cursor: pointer;
  bottom: 1rem;
  right: 2rem;
}

.button-wapper {
  display: flex;
}

.button {
  padding: 0.5rem;
  background-color: $base-color;
  display: inline-block;
  margin-right: 0.2rem;
  border-radius: 0.2rem;
  cursor: pointer;
  color: white;
  &.delete {
    margin-right: auto;
    background-color: rgb(238, 74, 74);
  }
}

.hidden {
  display: none;
}
